:root {
  --purple: #830dff;
  --blue: #2045ff;
  --white: #fcfbfd;
  --black: #313649;
  --grey: #e0e2eb;
}

body {
  font-family: 'Nunito', sans-serif;
  background-color: var(--white);
}

.non-display {
  display: none;
}

.m-center {
  margin: 0 auto;
}
